:root { 
--green_100:#c9e8d2; 
--red_600:#dd2e44; 
--green_700_b2:#279b48b2; 
--red_200:#d79e84; 
--red_400:#eb5d5d; 
--green_700:#279b48; 
--black_900_3f:#0000003f; 
--green_100_7f:#c9e8d27f; 
--light_blue_900:#02558b; 
--deep_purple_200:#aa8dd8; 
--black_900_01:#050505; 
--black_900_00:#05050500; 
--black_900_44:#00000044; 
--yellow_800:#ecaf12; 
--deep_orange_700:#d45e2c; 
--light_green_600:#77b255; 
--indigo_50_01:#e4e6eb; 
--deep_orange_900:#9b3c07; 
--indigo_50_02:#e9ebf4; 
--light_green_800:#5c913b; 
--light_blue_A700:#0393f1; 
--green_100_02:#cef2d8; 
--blue_gray_900_02:#292f33; 
--blue_gray_900_01:#2d2d2d; 
--blue_gray_900:#333333; 
--red_A700:#b40000; 
--pink_100:#f9c3e0; 
--green_100_01:#c8e7d1; 
--white_A700_4c:#ffffff4c; 
--black_900_4c:#0000004c; 
--green_700_4c:#279b484c; 
--blue_gray_100:#cdcecf; 
--light_blue_900_01:#0264a3; 
--orange_A200:#f5a74b; 
--blue_700:#3b88c3; 
--blue_500:#298cfa; 
--gray_800:#642116; 
--lime_900:#664500; 
--orange_600:#f88804; 
--amber_300:#ffcc4d; 
--black_900_0c:#0000000c; 
--black_900_99:#00000099; 
--blue_300:#5ebefc; 
--lime_50:#f5f8de; 
--black_900_19:#00000019; 
--red_A700_01:#f10909; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--green_200:#a5e8b8; 
--blue_gray_50:#eef0f8; 
--green_400_b2:#4dbd6db2; 
--blue_gray_100_01:#d4d4d4; 
--red_900:#a0041e; 
--blue_gray_100_02:#d0e1ec; 
--blue_gray_100_03:#d0e2ed; 
--indigo_A200:#5570f1; 
--red_300:#ea596e; 
--green_800:#1c7234; 
--green_600:#2daa48; 
--deep_purple_300:#9266cc; 
--green_400:#53d378; 
--white_A700_33:#ffffff33; 
--black_900_66:#05050566; 
--black_900:#000000; 
--gray_500_01:#989d9f; 
--black_900_33_01:#05050533; 
--green_400_01:#4dbd6d; 
--pink_400:#de457e; 
--blue_gray_50_01:#ecedf1; 
--gray_700:#65676b; 
--gray_500:#989a9e; 
--lime_600:#cead39; 
--blue_gray_100_99:#d4d4d499; 
--indigo_50:#e8ebf4; 
--gray_900:#191919; 
--red_300_01:#bf6952; 
--amber_200:#ffda7f; 
--green_50:#e4f3e8; 
--gray_300:#d8eedf; 
--black_900_33:#00000033; 
--green_50_01:#eaf9ee; 
--white_A700_01:#fcfffd; 
--indigo_900:#202b85; 
--blue_200:#93caee; 
--cyan_500:#01bad8; 
}